body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    width: 450px;
    margin: 25px;
    padding: 25px;
    border: 2px solid black;
    background-color: cornsilk;
}

.resultado {
    width: 450px;
    margin: 25px;
    padding: 25px;
    border: 2px solid black;
    background-color: aliceblue;
}

.tabla {
    text-align: center;
}